APP_NAME = Comiketter

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=hatonekoe
DATABASE_PASSWORD=
DATABASE_NAME=comiketter
TEST_DATABASE_HOST=localhost
TEST_DATABASE_PORT=3306
TEST_DATABASE_USERNAME=hatonekoe
TEST_DATABASE_PASSWORD=
TEST_DATABASE_NAME=comiketter_test

SECRET_KEY_BASE="TfoSSUjoaa528jF6kwgi3P9H7oNEx2UHWayo87ViD1T5zmxUcZjy3VIfLiJB5kIhLqhO74LvRtyXrm97DybeSKaHt1YvCJhlgQmxy507U7ngKEMiW9VUO3wIcW517Lum0PhErtOm1pLUFQvadOuHKgXE7BdZRg157nzLKSrmEQX8hLncTuGFJrV86l4kWNp65V8wqZZu" # 本番環境では必ず値を変えてね！
